{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5 rounded-circle" src="assets/styles/img/lucas.jpg" alt="" />
        <h1 class="masthead-heading text-uppercase mb-0">développeur web et mobile</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab fa-connectdevelop"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading font-weight-light mb-0">Frontend  - Backend - Symfony</p>
    </div>
</header>

<section class="page-section bg-secondary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white pt-5">Présentation</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab fa-connectdevelop"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p>Bonjour, Je m'appelle Lucas Girard, 31 ans et diplômé du titre professionnel Développeur Web et Web Mobile grâce aux compétences acquises pendant ma formation de 8 mois à Simplon Roanne.<br/>
            Mon langage de prédilection étant le PHP, pendant cette formation j'ai pu le pratiquer via différents CMS et frameworks tels que WordPress et Symfony.<br/>
            J'ai aussi un attrait pour le développement web avec le HTML, CSS, JavaScript et le développement d'application mobile REACT NATIVE.<br/>
            Je cherche une entreprise d'accueil qui pourrait me prendre en contrat d'apprentissage ou de professionnalisation pour décembre 2020. Je suis Mobile sur la région Auvergne-Rhône-Alpes.</p>
        <div class="d-flex align-items-center flex-column">
            <a class="btn btn-xl btn-outline-light m-5" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download mr-2"></i>
                cv
            </a>
            <p class="masthead-subheading font-weight-light mb-5">SYMFONY - PHP - HTLM  - CSS - JS - REACT - REACT NATIVE - BOOTSTRAP </p>
        </div>
    </div>
</section>

<section class="page-section bg-primary portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0 pt-5">Projets</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab fa-connectdevelop"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center text-white">
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="card bg-dark" style="width: 13rem;">
                        <div class="card-body text-center ">
                            <p class="card-text">Identi-T</p>
                            <i class="fab fa-github fa-5x"></i>
                        </div>
                      </div>
                </div>
            </div>
        </div>        
    </div>
</section>


{% endblock %}
